In [1]:
import pandas as pd
import dfview as vw  # <--- our package

df = pd.read_csv('data.csv')
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [ ]:
df.describe()

#### Initializing our DataOverview object linking to "my_describe" variable

In [2]:
my_describe = vw.DataOverview(df)

my_describe.details

teste...

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
dtype,int64,int64,object,float64,int64,object,object,object,object,object,...,int64,object,object,object,int64,int64,int64,object,object,int64
count,1460,1460,1460,1201,1460,1460,91,1460,1460,1460,...,1460,7,281,54,1460,1460,1460,1460,1460,1460
null,0,0,0,259,0,0,1369,0,0,0,...,0,1453,1179,1406,0,0,0,0,0,0
min,1.0,20.0,0.0,21.0,1300.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2006.0,0.0,0.0,34900.0
mean,730.5,56.9,0.0,70.05,10516.83,0.0,0.0,0.0,0.0,0.0,...,2.76,0.0,0.0,0.0,43.49,6.32,2007.82,0.0,0.0,180921.2
max,1460.0,190.0,0.0,313.0,215245.0,0.0,0.0,0.0,0.0,0.0,...,738.0,0.0,0.0,0.0,15500.0,12.0,2010.0,0.0,0.0,755000.0
median,730.5,50.0,0.0,69.0,9478.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,6.0,2008.0,0.0,0.0,163000.0
std,421.61,42.3,0.0,24.28,9981.26,0.0,0.0,0.0,0.0,0.0,...,40.18,0.0,0.0,0.0,496.12,2.7,1.33,0.0,0.0,79442.5
std%,28.9,24.88,0.0,8.32,4.67,0.0,0.0,0.0,0.0,0.0,...,5.44,0.0,0.0,0.0,3.2,24.58,33.2,0.0,0.0,11.03
25%,365.75,20.0,0.0,59.0,7553.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,2007.0,0.0,0.0,129975.0
50%,730.5,50.0,0.0,69.0,9478.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,6.0,2008.0,0.0,0.0,163000.0
75%,1095.25,70.0,0.0,80.0,11601.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,8.0,2009.0,0.0,0.0,214000.0
mode,1,20,RL,NaN,7200,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,140000
n_mode,1,536,1151,143,25,1454,50,925,1311,1459,...,1453,3,157,49,1408,253,338,1267,1198,20

#### Printing of column's type distributions

In [3]:
my_describe.columns_type()

{'int64': 35, 'float64': 3, 'object': 43, 'bool': 0, 'datetime64': 0}

#### Printing our describe data for float columns

In [ ]:
my_describe.show('float64')

#### Printing our describe data for object columns

In [ ]:
my_describe.show('object')

#### Showing the data distribution of a column list

In [ ]:
my_describe.obj_distrib(column_list=['MSZoning','Street','Alley','LotShape','LandContour'])

In [ ]:
my_describe.obj_distrib(column_list=['MSZoning','Street','Alley','LotShape','LandContour'], axis=0)

In [ ]:
my_describe.obj_distrib(column_list=['MSZoning','Street','Alley','LotShape','LandContour'], 
                        axis=0, include_nulls=False)

The axis with numbers is used to count how many occurence of each data type at that column.
If parameter include_nulls = False, the column 0 will be hide.

In [ ]:
my_describe.obj_distrib(axis=0, include_nulls=False)